@{
    ViewBag.Title = "HomeDocDB";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Scripts/Style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Partition Sample</title>
</head>
<body>
    <div class="gamecnt">
        <div class="gamescale">
            <h2>Limitless Scale Demo</h2>
            <p class="blazing">Blazing fast, planet-scale NoSQL</p>
            <p class="Nosql">NoSQL Service for highly available, globally distribed apps, take full advantage of SQL and JavaScript without the hassles of other on-premises or  virtual machine-based cloud options.</p>
        </div>
        <div class="gamebtns">
            <div></div>
            <ul class="row-height">
                <li class="col-sm-height nobackground"><a>Choose scenario</a></li>
                <li class="col-sm-height"><a href="#" onclick="location.href = '@Url.Action("Introduction", "Home")'"><span><img src="~/Images/game.svg" id="icon" /></span>Gaming</a></li>
                <li class="col-sm-height"><a><span><img src="~/Images/IoT.SVG" id="icon" /></span>Iot</a></li>
                <li class="linehtinherit col-sm-height"><a><span><img src="~/Images/Document mgt.svg" id="icon" /></span>content management</a></li>
            </ul>
        </div>
    </div>

    <div class="row padding20">
        <div class="col-lg-4 col-sm-4 col-lg-4">
            <h5><b>Elastic scale</b></h5>
            <img src="~/Images/elastic-scale.png" class="imgadjust" />
            <p class="paddingpara">
                Document DB can scale elastically and independently in terms of storage and throughput.
                Your data can span multiple servers,clusters or geographic regions to serve from hundreds to
                trillion of requests.Scale up and down instantaneously to meet the demands of your app.
            </p>
        </div>
        <div class="col-lg-4 col-sm-4 col-lg-4">
            <h5><strong>Blazing Fast Performance</strong></h5>
            <img src="~/Images/performance.png" class="imgadjust width150" />
            <p class="paddingpara">
                DocumentDB's SSD backed, write optimized database engine is capable of ingesting
                sustained volumes of documents while synchonously indexing them for queries.
                Reads and writes complete within milli seconds predictbly at any scale
            </p>
        </div>
        <div class="col-lg-4 col-sm-4 col-lg-4">
            <h5><strong>Sql and JavScript Queries without Schema</strong></h5>
            <img src="~/Images/agile.png" class="imgadjust" />
            <p class="paddingpara">
                Document DB is completlely schema agnostic and purpose-built for JSON.
                Iterate your globally distribued app quickly and use familiar SQL and JavaScript,
                without thinking about schema definitions or secondary indexes.
            </p>
        </div>
    </div>


</body>
</html>
