<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<link href="~/Scripts/Style.css" rel="stylesheet" />*@

<footer>
    <div class="footer navbar-fixed-bottom">
        <a href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">Privacy & Cookies</a>
        <a href="http://azure.microsoft.com/en-us/support/legal/website-terms-of-use/" target="_blank">Terms of use</a>
        <a href="https://portal.azure.com/#gallery/Microsoft.DocumentDB" target="_blank">Azure Portal</a>
    </div>
</footer>
